includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - includes
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tmpDir: .phpstan.cache
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 1
